

.login-menu{
    font-family:'Poppins';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FDFAF6;
    width: 35%;
    .form-container{
        padding: 1em 1em 2em 1em;
        border-radius: 10px;
        background-color: #FAF1E6;
        .title{
            font-size: .8em;
            display:flex;
            text-align: center;
            justify-content: center;
            margin-bottom: 2em;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap : 10px;
            label{
                font-size: 18px;
                margin-left: .5em;
                text-align: left;
            }
            input{
                height : 40px;
                border-radius: 5px;
                border: none;
                font-size: 18px;
                padding: .5em 0;
                margin: .5em;
                width: 90%;
            }
            button{
                display:flex;
                align-items: center;
                justify-content:center;

                margin-top: 2em;
                background-color: white;
                border : none;
                padding: .5em;
                border-radius: 5px;
                width: 93%;
                // margin-left: .5em;

                color: black;
                font-size: 18px;
            }
            input{
                padding-left: 1em; 
            }
            button:hover{
                background-color: #2DC1B0;
                color: white;
            }
            span{
                color:red;
            }
        }
    }
}