.leave-request{
    font-family : 'Poppins';
    display:flex;
    min-height : 100vh;
    main{
        width: 100%;
        background-color: #FAF1E6; 
    }
    .form-container{
        // display:flex
        // justify-content:center;
        width:100%;
        form{
            font-size: 13px;
            border-radius: 10px;
            padding : 2em;
            display : flex;
            flex-direction : column;
            label{
                
                margin-top: 10px;
                margin-bottom: 10px;
            }
            input{
                // margin-bottom: 20px;
                border:none;
                padding:20px;
                border-radius: 5px;
                height: 20px;
            }
            .genderContainer{
                display:flex;
                flex-direction:column;
                .temp{
                    display: flex;
                    gap: 20px;
                    align-items:center;
                    input{
                        transform: scale(1.5); 
                    }
                }
               
            }
            textarea{
                border:none;
                border-radius: 5px;
                height: 120px;
                resize: none;
                padding:20px;
            }
            button{
                display:flex;
                align-items: center;
                justify-content:center;
                margin-top: 1em;
                background-color: white;
                border : none;
                padding: .5em;
                border-radius: 5px;
                width: 10%;
                // margin-left: .5em;
    
                color: black;
                font-size: 13px;
            }
            button:hover{
                background-color: #2DC1B0;
                color: white;
            }
            span{
                color: red;
            }
        }
    }
}